<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylt.skillgather.coreframe.mapper.CoreframeUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ylt.skillgather.coreframe.entity.CoreframeUser">
        <id column="ID" property="id" />
        <result column="UserName" property="UserName" />
        <result column="Password" property="Password" />
        <result column="TrueName" property="TrueName" />
        <result column="IsDelete" property="IsDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, UserName, Password, TrueName, IsDelete
    </sql>

</mapper>
