<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylt.skillgather.system.mapper.PermissionModuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ylt.skillgather.system.entity.PermissionModule">
        <id column="ID" property="id" />
        <result column="ModuleCode" property="ModuleCode" />
        <result column="ModuleName" property="ModuleName" />
        <result column="ModuleValue" property="ModuleValue" />
        <result column="LinkUrl" property="LinkUrl" />
        <result column="ParentModule" property="ParentModule" />
        <result column="ModuleDescription" property="ModuleDescription" />
        <result column="IsDelete" property="IsDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ModuleCode, ModuleName, ModuleValue, LinkUrl, ParentModule, ModuleDescription, IsDelete
    </sql>

</mapper>
