<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylt.skillgather.system.mapper.PermissionRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ylt.skillgather.system.entity.PermissionRole">
        <id column="ID" property="id" />
        <result column="RoleCode" property="RoleCode" />
        <result column="RoleName" property="RoleName" />
        <result column="RoleDescription" property="RoleDescription" />
        <result column="GroupCodes" property="GroupCodes" />
        <result column="PermitCodes" property="PermitCodes" />
        <result column="ParentRole" property="ParentRole" />
        <result column="IsDelete" property="IsDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, RoleCode, RoleName, RoleDescription, GroupCodes, PermitCodes, ParentRole, IsDelete
    </sql>

</mapper>
