<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylt.skillgather.system.mapper.PermissionDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ylt.skillgather.system.entity.PermissionDepartment">
        <id column="DepartmentCode" property="DepartmentCode" />
        <result column="DepartmentName" property="DepartmentName" />
        <result column="ParentDepartment" property="ParentDepartment" />
        <result column="DepartmentDescription" property="DepartmentDescription" />
        <result column="CompanyCode" property="CompanyCode" />
        <result column="IsDelete" property="IsDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DepartmentCode, DepartmentName, ParentDepartment, DepartmentDescription, CompanyCode, IsDelete
    </sql>

</mapper>
