<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylt.skillgather.system.mapper.PermissionPermitGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ylt.skillgather.system.entity.PermissionPermitGroup">
        <id column="GroupCode" property="GroupCode" />
        <result column="GroupName" property="GroupName" />
        <result column="PermitCodes" property="PermitCodes" />
        <result column="IsDelete" property="IsDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GroupCode, GroupName, PermitCodes, IsDelete
    </sql>

</mapper>
